/* Signup.css */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  margin-bottom: 200px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1000px;
}
.form-sections {
  display: flex;
  flex: 1;
}
.left-section, .right-section {
  flex: 1;
  margin: 0 10px; 
}
.bottom-section {
  margin-top: 5px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"], .form-group textarea, .form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}
.form-group input[type = "file"]{
	padding: 6.8px;
}

.form-group textarea {
  height: 100px; /* Adjust the height as needed */
}

.nickname-group {
  display: flex;
  align-items: center;
}

.nickname-group input[type="text"] {
  flex: 1;
  margin-right: 10px;
}
.gender-buttons {
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}
.gender-buttons button {
  background-color: #333;
  color: white;
  border: 1px soild white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 50%
  
}
.gender-buttons button:hover{
  background-color: #555;
}
.gender-buttons button:last-child {
  margin-right: 0;
}
.check-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.check-button:hover {
  background-color: #555;  
}
.submit-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.submit-button:hover {
  background-color: #555;  
}
.agreement-group{
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}
.agreement {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 9px 0;
}
.agreement input[type="checkbox"] {
  margin-left: 10px;
}
.submit-area {
  display: flex;
  justify-content: flex-end;
}
.profile-image {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
