.board-category-container {
    display: flex;
    font-family: 'GwangyangTouching';
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
    margin-bottom: 50px;
}

.board-page-card {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 30rem;
    width: 10rem;
    border-radius: 2rem;
    margin: 10px;
    background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: width 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.board-page-card:hover {
    width: 30rem; 
    transform: scale(1.05);
}

.board-page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.board-page-card:hover .board-page-content {
    transform: scale(1);
}

.board-page-detail {
    margin-top: 0.75rem;
    height: 30%;
    margin-left: 2rem;
    transition: opacity 0.3s ease, margin-left 0.3s ease;
    color: white;
    opacity: 0;
}

.board-page-card:hover .board-page-detail {
    opacity: 1;
    margin-left: 0;
    background-color: rgba(11, 11, 11, 0.5);
    padding-top: 3%;
}

.board-page-card:hover .board-page-detail .board-page-title,
.board-page-card:hover .board-page-detail .board-page-title-content {
    margin-left: 1.5rem;
}