.input-Container {
  display: flex;
  gap: 10px;
  margin: 20px;
  overflow: hidden;
  height:600px;
  
}
.dt-detail{
	margin-bottom:  0px;
}
.detailContainer{
  height:600px;
	margin-bottom: 20px;
}
.textareaHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: -5px;
}
.textareaBox input {
  border: none;
  font-size: 2rem;
  margin-left: 30px;
}
.textareaBox input {
  padding: 8px;
  border-radius: 4px;
  outline: none;
}
.textareaBox input:focus {
  border: none !important;
  box-shadow: none !important; 
}

.textareaBoxRight{
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.iconBox{
  margin-right: 20px;
  transition: color 0.3s;
}
.likeIcon{
  cursor: pointer;
}
.iconBox svg{
	margin-left: 10px;
	margin-right: 3px;
}

.dt-input-left-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
.contentContainer{
	height: 84.5%;
}
.content{
	font-size: 20px !important;
}
.dt-input-mypage-box {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  height: auto;
}
.profile1 img{
	cursor: pointer;
}
.DTprofileName{
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.DTprofileName:hover{
	color: #555;
}
.dt-input-right-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.mapContainer {
  flex: 1;
  border-radius: 10px;
  height: 100%
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 0 20px;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
}

.example-custom-input {
  background-color: white; 
  color: black; 
  border-radius: 10px; 
  padding: 5px;
  font-size: 15px;
  border: solid black 2px;
  margin-right: 20px;
  margin-top: 10px;
}


.react-datepicker__header.react-datepicker__header--time {
  height: auto !important; 
  line-height: 1.2 !important;
  padding: 10px 0 !important;
  font-size: 14px !important;
  display: flex !important; 
  align-items: center !important; 
  justify-content: center !important; 
  text-align: center !important; 
}

.react-datepicker-time__header {
  height: auto !important; 
  line-height: 1.35 !important; 
  padding: 10px 0 !important;
  font-size: 14px !important; 
  display: flex !important; 
  align-items: center !important; 
  justify-content: center !important; 
  text-align: center !important; 
}
.react-datepicker__time-list {
  height: 170px !important;
}
.react-datepicker-popper {
  z-index: 9999 !important;
}

.mapping {
  font-size: 1rem;
}

.submitButton, .backButton {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  margin: 10px;
  border: solid 2px white;
}

.submitButton:hover, .backButton:hover {
  background-color: white;
  border: solid 2px black;
  color: black;
}

 .detailMapContainer{
  height: 73%;
  }
  
 .board-right {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


.map-search-box {
  z-index: 10;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
}

.map-search-box input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  width: 10rem;
}

@media (max-width: 768px) {
  .map-search-box input{
      width: 5rem; 
  }
}

.map-search-box button {
  padding: 5px 10px;
  border: none;
  background-color: #333;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  cursor: pointer;
}

.map-search-box button:hover {
  background-color: #555;
}

.search-result {
  position: absolute;
  top: 30px;
  z-index: 9;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 60vh;
  overflow-y: auto;
  width: 30.4%;
  padding: 10px;
  font-size: 15px;
  min-width: 100px;
  left:10px;
}

.item {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.item .info h5 {
  margin: 0;
  padding: 0;
}

.item .info .jibun {
  font-size: 0.8em;
  color: #888;
}

.item .info .tel {
  color: #0066ff;
  font-size: 0.9em;
}

.search-result #searchPagination {
  display: flex;
  justify-content: center; 
}

.search-result #searchPagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 2px 4px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-result #searchPagination a:hover {
  background-color: #ddd;
}

.hidden {
  display: none;
}

.infowindow {
  z-index: 1;
  height: auto;
  width: 260px;
  padding: 5px;
  border-radius: 5px;
}



@media (max-width: 768px) {
  .input-Container {
    flex-direction: column;
    gap: 10px;
    height:1200px;
  }

  .dt-input-left-box, .dt-input-right-box {
    flex: 1;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    height:250px
  }
  .textareaBox input {
    border: none;
    font-size: 1rem;
  }
  .dt-input-mypage-box{
    height:200px  }

  .dt-input-left-box{
    flex: 1;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    height:200px
  }

  .example-custom-input {
    border-radius: 10px;
    font-size: 12px;
}
  .mapHeader{
  font-size: 12px;
}


  .mapContainer {
    flex: 1;
    width: 100%;
    height: 250px; 
  }
  .mapContainer {
    flex: 1;
    width: 100%;
    height: 250px; 
  }

  .detailMapContainer{
    height:400px;
  }
  .contentContainer{
    height:1000px;
    margin:0;
  }
  .detailContainer-big{
    height:3000px;
  }
}

@media (max-width: 1200px) {
  .input-Container {
    flex-direction: column;
    gap: 10px;
    height:1200px;
  }

  .dt-input-left-box, .dt-input-right-box {
    flex: 1;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    height:250px
  }
  .textareaBox input {
    border: none;
    font-size: 1rem;
  }
  .dt-input-mypage-box{
    height:200px  }

  .dt-input-left-box{
    flex: 1;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    height:200px
  }

  .example-custom-input {
    border-radius: 10px;
    font-size: 12px;
}
  .mapHeader{
    font-size: 12px;
  }

  .contentBox{
    margin:0;
  }

  .mapContainer {
    flex: 1;
    width: 100%;
    height: 250px; 
  }
}