.swal2-popup {
    font-weight: normal;
  }
  
  .swal2-title {
    font-weight: normal;
  }
  
  .swal2-content {
    font-weight: normal; 
  }
  
  .swal2-confirm {
    font-weight: normal;
  }
  
  .swal2-cancel {
    font-weight: normal; 
  }