.tinderCard_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swipe {
  position: absolute;
  top: 50%;
  background-color: white;
  z-index: 0;
  transition: transform 0.3s ease-in-out;
}

.swipe-left {
  transform: translateX(-100%) rotate(-20deg);
}

.swipe-right {
  transform: translateX(100%) rotate(20deg);
}

.swipeButtons {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  width: 100%;
  z-index: 1;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  padding: 10px;
  margin: 0 20px;
}

.swipeButtons .close_button {
  color: #FF6B6B;
}

.swipeButtons .favorite_button {
  color: #FF6B6B;
}