.tinderCard_container {
  width: 100%;
  top: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  height: 70vh;
  overflow: hidden;
}

.cardContainer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipe {
  position: absolute;
  z-index: 0;
  transition: transform 1s ease-in-out;
}

.infoText {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.infoText.like {
  top: 10px;
  right: 10px;
  color: #2d8636;
  border: 5px solid #2d8636;
}

.infoText.nope {
  top: 10px;
  left: 10px;
  color: #FF6B6B;
  border: 5px solid #FF6B6B;
}

.swipe-left {
  transform: translateX(-100%) rotate(-20deg);
}

.swipe-right {
  transform: translateX(100%) rotate(20deg);
}

.swipeButtons .close_button {
  color: #FF6B6B;
  position: fixed;
  top : 52%;
  left : 18%;
  border : solid 3px #FF6B6B;
  border-radius: 50px;
  padding :5px;
  transition: transform 0.3s ease-in-out;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.swipeButtons .favorite_button {
  color: #2d8636;
  position: fixed;
  top : 52%;
  right : 18%;
  border : solid 3px #2d8636;
  border-radius: 50px;
  padding :5px;
  transition: transform 0.3s ease-in-out;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.swipeButtons .close_button:hover,
.swipeButtons .favorite_button:hover {
  transform: scale(1.4);
  transition: transform 0.3s ease-in-out;
}

.noMoreCardsMessage {
  font-size: 200%;
  color: #333;
  text-align: center;
  font-family: Tokki;

}

.show-nope{
  position: fixed;
  top : 40%;
  left : 15%;
  font-family: 'Tokki';
  font-size : 50px;
  color: #FF6B6B;
}

.show-like{
  position: fixed;
  top : 40%;
  right : 15%;
  font-family: 'Tokki';
  font-size : 50px;
  color: #2d8636;
}

.show-nope, .show-like {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .show-nope, .show-like,
  .swipeButtons .favorite_button,
  .swipeButtons .close_button
   {
    opacity: 0;
  }
}