.freeboard-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    min-height: 600px;
}

.freeboard-card-container {
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    margin-bottom: 20px; 
}

.freeboard-card {
    width: 300px;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.freeboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-photo {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.content-text {
    font-family: 'GwangyangTouching';
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 80vh;
    white-space: pre-wrap; 
    overflow-wrap: break-word;
    overflow-y: auto;
}

.card-author-name,
.freeboard-title {
    font-family: 'GwangyangTouching';
}

.card-overlay-text {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 5em;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px 25px 10px;
    color: white;
    text-overflow: ellipsis;
    white-space: normal;
    font-family: 'GwangyangTouching';
    font-size: 12px;
    white-space: normal;
  overflow-wrap: break-word;
}

.nick-avature{
    display: flex;
    align-items: center; 
}
.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0;
    margin-bottom: 0;
    font-family: 'GwangyangTouching';
}
.card-avatar {
    --Avatar-size: 2rem;
    margin-right: 10px;
}

.card-icons-container-list {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    white-space: nowrap;
    justify-content: flex-end;
}

.card-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem; 
    color: #808080;
    transition: color 0.3s;
}
.card-icon svg{
	margin-right: -7px;
	margin-left: 3px;
}

@media (max-width: 1200px) {
    .freeboard-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .freeboard-card-container {
        grid-template-columns: 1fr;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.create-post-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; 
}

.create-post-button {
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    border : solid 2px black;
    cursor: pointer;
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    font-family: 'GwangyangTouching';
    justify-content: flex-end;
    margin-right : 8vw;

}

.create-post-button:hover {
    background-color: #ffffff;
    color:black;
    border : solid 2px black;
    
}

.pinned-icon-container {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}

.pinned-icon {
  color: red;
}
.notice-chip {
  margin-top: 4px;
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.card-cover {
    position: relative;
    overflow: hidden;
  }

  
  
 .content-text img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

  .content-text {
    padding: 10px; 
    overflow: hidden;
  }
  .ProseMirror toastui-editor-contents p{
    max-width: 200px;
    height: auto;
}