

.detail-avatar-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.detail-author {
    font-size: 1.2rem;
    color: #555;
    margin-left: 10px;
}

.detail-title-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.detail-title {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

.detail-writeday {
    font-size: 0.9rem;
    color: #999;
    margin-top:15px;
}

.detail-content-container {
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.detail-content {
    line-height: 1.6;
    color: #666;
}

.detail-image-container {
    margin: 20px 0;
}

.detail-image {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.detail-board-info {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.left-info {
    display: flex;
    align-items: center; 
    margin-right:5px;
}

.left-info p{
    margin-right:10px;
}

.right-info {
    text-align: right; 
}
