.myprofile-container{
    margin-bottom:10px;
}

.edit-myprofile-btn{
    padding: 5px 20px;
    font-family : 'YeojuCeramic';
    border: solid 2px white;
    margin-left: calc(60% - 50px);
}

.edit-myprofile-btn:hover{
    background-color: black;
    border: solid 2px white;
    color: white;
}