.profile-tags li.like-btn {
    cursor: pointer;
}
.back-page-btn{
    font-family : 'YeojuCeramic';
    padding: 5px 20px;
    border: solid 2px white;
    margin-left: calc(60% - 30px);
}

.back-page-btn:hover{
    background-color: black;
    border: solid 2px white;
    color: white;
}

.user-profile-nickname{
    font-family : 'YeojuCeramic';
    font-size : 20px;
    text-align: center;
}

.inner-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: calc(100vh - 100px); 
  }