.profile-tags li.like-btn {
    cursor: pointer;
}

.user-profile-nickname{
    font-family : 'YeojuCeramic';
    font-size : 20px;
    text-align: center;
    margin-top: 30px;;
}

.inner-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    height:65vh;
  }

  .footer-btn {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    margin-top: 20px;
    margin-right: 100px;
}

.back-page-btn {
    font-family: 'YeojuCeramic';
    padding: 5px 20px;
    border: solid 2px black;
    background-color: black; 
    color: white; 
    margin-right : 20vw;
    margin-bottom : 20px;
}

.back-page-btn :hover {
    font-family: 'YeojuCeramic';
    padding: 5px 20px;
    border: solid 2px black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
}