.textarea {
    background: transparent;
    display: block;
    padding: 0px;
    font-size: 2.75rem;
    width: 100%;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    font-weight: bold;
    color: #212529;
  }
  
  .buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
    margin: 8px 8px;
  }
  
  .back-button {
    font-size: 1.124rem;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    align-items: center;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: flex;
    outline: none;
    color: var(--text1);
  }
  
  .arrow-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow {
    font-size: 20px;
  }
  
  .arrow-text {
    margin-left: 8px;
    font-size: 1.125rem;
  }
  
  .submit-button {
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #12b886;
    color: #ffffff;
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2.5rem;
    font-size: 1.125rem;
  }
  
  .mypage-container {
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .mypage-container {
      width: 768px;
    }
  }