.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 0;
    font-family: 'GwangyangTouching', sans-serif;
    z-index: 9999;	/*footer가 항상 위에있도록*/
}

.text-center{
    font-size: 12px;
}
.footer-text {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 10px;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.footer-icons > * {
    margin: 0 10px; 
}

.footer-mail {
    margin: 0; 
}