.header-container{
  font-family: 'GwangyangTouching';
}

.header-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-link {
    display: flex;
    align-items: center;
    font-family: 'GwangyangTouching';
  }

  .header-login-btn,
  .header-logout-btn {
    padding: 5px 20px;
    border: solid 2px white;
  }
  
  .header-login-btn:hover,
  .header-logout-btn:hover {
    background-color: black;
    border: solid 2px white;
    color: white;
  }