/* Signup.css */
.signup-box {
  /* Styling for the main signup box */
}
.signup-top{
  text-align: center;
  font-family: 'GwangyangTouching';
  font-size: 25px;
}

.signup-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  font-family: 'GwangyangTouching';
}

.signup-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
}

.form-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}

.left-section-container, .right-section-container {
  flex: 1;
}

.left-section, .right-section {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.agreement-section {
  margin-top: 20px;
}

.left-section {
  gap: 20px;
}


.bottom-section {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"], 
.form-group textarea, 
.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

.nickname-group,
.tel-group{
  display: flex;
  align-items: center;
}

.nickname-group input[type="text"],
.tel-group input[type="text"]{
  flex: 1;
  margin-right: 10px;
}

.gender-buttons {
  display: flex;
  gap: 10px;
}

.gender-buttons .button {
  background-color: white;
  color: black;
  border: 1px solid #ccc; /* 버튼 테두리 색상 추가 */
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  justify-content: center;
  flex-grow: 1; /* 버튼들이 동일한 크기로 스트레치되도록 설정 */
}

.gender-buttons .button:hover {
  background-color: #000000;
  color: white;
}

.check-button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 3px black;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.check-button:hover {
  background-color: white;
  color: black;
}

.submit-button {
  background-color: black;
  margin-top: 20px;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 3px black;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.submit-button:hover {
  background-color: white;
  color: black;
}

.agreement-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.agreement {
  display: flex;
  align-items: center;
}

.agreement input[type="checkbox"] {
  margin-left: 10px;
}

.add-photo-grid-wrapper {
  overflow-y: auto;
  padding: 10px; 
  max-height: 300px;
}

.add-photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  min-width: 300px; /* 최소 너비를 설정하여 스크롤이 필요하게 함 */
}

@media (max-width: 1200px) {
  .add-photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .add-photo-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.edit-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.edit-tag-chip {
  margin: 5px;
}

.edit-tag-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.submit-area {
  display: flex;
  justify-content: flex-end;
}

.add-photo-container {
  position: relative;
  padding-top: 100%;
}

.add-photos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-remove-photo {
  position: absolute;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  top: 5px;
  right: 5px;
  transition: transform 0.2s;
}

.add-remove-photo:hover {
  transform: scale(1.2);
}

.add-photo-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
}

.edit-photo-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.agreement-section{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
}

.self-input{
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border : solid 0.5px #a3a3a3;
  overflow-y: auto;
  padding : 10px;
  margin-top: 10px;
}

.dialog-content {
  font-family: 'GwangyangTouching';
  font-size: 14px;
  line-height: 1.6; 
}

.dialog-content h1{
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}