:root {
    height: 100vh;
    --default-font: 'GwangyangTouching';
    --white: #ffffff;
    --light: #eceff1;
    --blue: #007bff;
}

body {
    font-family: var(--default-font);
    font-weight: 300;
}

.profile-img {
    width: 30px !important;
    height: 30px !important;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}
.no-chat-list{
    margin-top: 30px;
    text-align: center;
    font-size: clamp(1rem, 3vw, 2rem);
    font-family: 'Tokki';
    white-space: nowrap;
}

.chat-wrapper {
    position: relative;
    left: 50%;
    width: var(--wrapper);
    transform: translateX(-50%);
    overflow-y: hidden;
    margin-bottom: 20px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 100%;
    max-width: 1200px;
    background-color: var(--white);
    transform: translate(-50%, -50%);
    display: flex;
}

.chat-left {
    width: 38%;
    border-right: 1px solid var(--light);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.chat-top {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-search {
    flex: 1;
    height: 42px;
    padding: 0 15px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    border-radius: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.search-icon {
    margin-left: 10px;
    cursor: pointer;
}

.chat-people {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: calc(100% - 80px);
}

.chat-person {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.chat-preview {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size : 1rem;
}

.message-content {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1; 
}

.delete-icon {
    margin-left: 10px;
    cursor: pointer; 
}

.chat-active {
    background-color: #ffb2b2;
    color: white;
}

.chat-person img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 15px;
    transition: width 0.3s ease, height 0.3s ease;
}

.chat-name {
    font-weight: bold;
    justify-content: flex-start;
    transition: font-size 0.3s ease;
}

.chat-time {
    color: #757575;
    font-size: 10px;
    flex-wrap: nowrap;
}

.chat-right {
    width: 62%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: auto;
}

.chat-top .chat-name {
    font-weight: bold;
    font-size: 1.2em;
}

/* ChatWindow */
.chat.active-chat {
    display: block;
    height: 100vh;
    overflow-y: auto;
    margin: 20px;
}

.chat-bubble-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.nickname {
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
}

.chat-window-top {
    color: black;
    padding: 10px;
    margin-right: 10px;
    border-bottom: 2px solid #ddd;
    height: 50px;
}

.chat-bubble {
    max-width: 70%;
    font-size: 15px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    overflow-wrap: break-word; 
    word-break: break-word; 
}

.chat-bubble.me {
    background-color: #ffb2b2;
    color: white;
    margin-left: auto;
    border-radius: 25px 25px 0 25px;
}

.chat-bubble.you {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px 25px 25px 0;
}

.chat-bubble .chat-time {
    align-self: flex-end;
    font-size: 0.8em;
    color: #757575;
    margin-top: 5px;
}

.chat-bubble-container.me {
    align-items: flex-end;
    margin-right: 15px;
}

.chat-bubble-container.you {
    align-items: flex-start;
}

.chat-write {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--white);
}

.chat-write-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #eceff1;
    border-radius: 50%;
    cursor: pointer;
    color: #757575;
    font-size: 1.5rem;
}

.write-link.attach {
    background-color: #ffffff;
}

.write-link.smiley {
    background-color: #ffffff;
}

.write-link.send {
    background-color: var(--blue);
    color: #ffffff;
}

.chat-input {
    border: 2px solid #ccc;
    padding: 8px;
    border-radius: 25px;
    background-color: #fff;
    outline: none;
}

.chat-input:focus {
    border: solid 2px black;
    box-shadow: none;
}

.send-icon {
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: large;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    padding: 1px;
}

.nav-tabs .nav-link {
    color: black;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: black;
    border-color: black;
}

.receive-new {
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 2px 5px;
    font-size: 10px;
    margin-left: 10px;
}

.participant-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.participant-item {
    position: relative;
    margin-left:-20px;
}

.participant-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: solid 2px white;
}

.no-style {
    border: none;
    background-color: white;
}

.participant-modal-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.participant-modal-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.participant-modal-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.modal-nickname {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
}

.participant-avatar-container{
    display:flex;
}
.participant-modal-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.participant-modal-actions button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #FF6B6B;
    font-size: 14px;
}

.participant-modal-actions button:hover {
    color: black;
}

.more {
    border-radius: 10px;
    padding: 0;
    border: none;
    margin-left:10px;
}

.more-avatars{
    margin-top: 5px;
    margin-left : 5px;
    font-size : 10px;
}

.no-messages {
    margin-top: 30px;
    text-align: center;
    font-size: clamp(2rem, 5vw, 5rem);
    font-family: 'Tokki';
    white-space: nowrap;
}

.chat-window-top-no {
    font-size: clamp(0.9rem, 1vw, 0.4rem);
    white-space: nowrap;
}

@media (max-width: 768px) {
    .chat-time {
        display: none;
    }
    .chat-name {
        font-size: 0.8rem;
    }
    .chat-person img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.date-separator {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.messageDate {
    background-color: #ffb2b2;
    color: white;
    font-size: 12px;
    font-weight: 100;
    padding: 2px 10px;
    border-radius: 25px;
    margin: 3px;
}

.report{
    justify-content: flex-end;
    background-color: none;
}

.skeleton-img {
    background: #ddd;
    border-radius: 50%; 
    display: inline-block;
    width: 30px; 
    height: 30px;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .skeleton-loading {
    animation: pulse 1.5s infinite ease-in-out;
  }

  .skeleton-nick{
    background: #ddd;
    border-radius: 10px; 
    display: inline-block;
    width: 60px; 
    height: 20px;
    animation: pulse 1.5s infinite ease-in-out;
    margin-top: 5px;
  }
  
  @keyframes pulse {
    0% {
      background-color: #ddd;
    }
    50% {
      background-color: #ccc;
    }
    100% {
      background-color: #ddd;
    }
  }