.main-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 20px;
}
.video-background {
    display: flex;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grey {
    width: 100%;
    padding: 20px;
    background-color: white;
    z-index: 2;
    overflow-y: auto;
    cursor:pointer;
}

.main-section {
    top: 60px; 
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    margin:80px auto;
    padding: 20px;
    z-index: 1;
    transition: opacity 0.3s, transform 0.3s;
    justify-content: center;
    height:400px
}


/* 이미지 기본 스타일 */
.main-section-image img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    transition: width 0.6s ease; 
    transition: height 0.6s ease; 
    margin : 0 10px;
}

.main-section-text {
    
    text-align: center;
    font-size: 24px;
    color: black;
    padding: 20px;
    font-family: GwangyangTouching;
    transition: font-size 0.6s ease; 
}


@media (max-width: 768px) {
    .main-section-text {
        font-size: 15px; 
    }

    .main-section-image img {
        width : 100px;
        height:60px;
    }
}

.main-video-content {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'TOkki';
    z-index: 4;
}

.main-video-content h1 {
    font-size: 7vw;
}

@media (max-width: 768px) {
    .video-background video {
        height: 100%;
    }
    .main-video-content {
        top: 20;
        font-size: 1rem;
    }
    .main-carousel {
        height: 20%;
    }
    .main-carousel .carousel-inner {
        height: 100%;
    }
}

/* 타이핑 애니메이션 설정 */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes typingFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.typing h1 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 7vw;
}

.typing .line {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 2s steps(40, end) forwards;
}

.typing .line1 {
    animation: typing 2s steps(40, end) forwards;
}

.typing .line2 {
    animation: typing 2s steps(40, end) 2s forwards;
}
