.shortform-inputContainer {
    margin: auto;
    padding: 20px;
}

.short-textareaBox {
    overflow: hidden;
    background: transparent;
    display: flex;
    font-size: 2.5rem;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    font-weight: bold;
    color: #555;
    height: 70px;
}

.shortform-topContainer {
    width: 100%;
}

.shortform-textareaHeader {
    padding: 10px;
    width: 100%;
}

.shortform-write-container {
    display: flex;
    flex-wrap: wrap;
}

.shortform-write-editor {
    flex: 1 1 60%;
    margin-bottom: 20px;
}

.shortform-write-upload {
    flex: 1 1 calc(40% - 10px);
    margin-left: 10px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    justify-items: center;
    font-size: 1.5rem;
}

.shortform-videoPreviewContainer {
    max-height: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.shortform-videoPreviewContainer video {
    max-width: 100%;
    max-height: 100%; 
    width: auto;
    height: auto;
}
