.adminPage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	align-items: center;
	background-color: #333;
}
.adminHeader{
	margin-bottom: 330px;
	margin-left: 25px;
	color: white;
}
.adminContainer{
	height :100vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.adminLoginContainer{
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.adminLoginHeader{
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.adminLoginBox{
	align-items: center;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.adminLoginForm{
	height :100px;
	display: flex;
}
.adminInfo{
	margin-right: 5px;
}
.adminId{
	width: 350px;
	height :48%;
	margin: 2px 0;
}
.adminPasswd{
	width: 350px;
	height :48%;
	margin: 2px 0;
}
.adminId input{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #555;
	text-align: center;
}
.adminPasswd input{
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #555;
}
