.detail-free-container {
    width: 90vw;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: stretch; 
    margin: 0 auto;
    font-family: 'GwangyangTouching';
    
}


.free-detail-container {
    width: 60vw; 
    margin: 20px; 
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

}

.free-detail-repl {
    width: 30vw;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.detail-free-header {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 10px; 
}

.detail-to-list {
    padding: 5px 15px;
    font-family: 'GwangyangTouching';
    font-size: 15px;
    border-radius: 50px;
    background-color: white;
    color: black;
    margin: 20px 5% 20px 0;

}

@media (max-width: 768px) {
    .free-detail-container {
        width: 40vw;
    }
}