.freeboard-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.freeboard-card-container {
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.freeboard-card {
    width: 300px;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.freeboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-photo {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.content-text,
.card-author-name,
.freeboard-title {
    font-family: 'GwangyangTouching';
}

.card-overlay-text {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 5em;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px 25px 10px;
    color: white;
    text-overflow: ellipsis;
    white-space: normal;
    font-family: 'GwangyangTouching';
    font-size: 12px;
    margin-bottom:10px;
}

.card-content {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0rem;
    margin-bottom: 0px;
    font-family: 'GwangyangTouching';
}

.card-avatar {
    --Avatar-size: 2rem;
}

.card-icons-container {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    white-space:nowrap;
}

.card-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem; 
    color: #808080;
    transition: color 0.3s;
}





@media (max-width: 1200px) {
    .freeboard-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .freeboard-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}